body {
  font-family: 'Hiragino Kaku Gothic ProN W3', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* ここからcssコード */
body {
  background-color: #101010;
}

img {
  width: 400px;
  opacity: 0.3;
}

.icons {
  display: flex;
}

.icon {
  font-size: 40px;
  padding: 0 15px;
}