$bcolor: #101010;
$bcolorIcon: rgb(184, 184, 184);
$wcolor: rgb(199, 199, 199);
$wcolorIcon: gray;


body {
  font-family: 'Hiragino Kaku Gothic ProN W3', sans-serif;
  margin: 0;
}

.box {
  width: 200px;
  height: 200px;
  background: red;
  transition: 2s;
  &:hover {
    margin-left: 300px;
  }
}

li {
  list-style: none;
  display: inline;
}

a {
  text-decoration: none;
}

/* ここからcssコード */

.logo {
  transition-timing-function: ease;
  transition: 1s;
  transition-delay: 1.5s;
  width: 400px;
  margin: 18% auto 40px auto;
}

.logo-start {
  margin-top: 22%;
}

img {
  width: 400px;
  display: block;
}

nav {
  display: inline;
  .icons {
    padding: 0;
    margin: 0;
    margin-left: calc(50% - (540px / 2));
    &:after {
      display: block;
      content: "";
      clear: both;
    }
    li {
      position: relative;
      float: left;
      margin: 0 15px;
      text-align: center;
      width: 37.5px;
      &:hover ul {
        animation: tooltipShow 0.3s linear 0s;
        opacity: 1;
        display: block;
      }
      .icon {
        font-size: 30px;
      }
      ul {
        display: none;
        padding: 0;
        position: absolute;
        z-index: -100;
        opacity: 0;
        transition: 1s;
        li {
          margin: 0;
        }
      }
    }
  }
}

// アイコンにhoverするとアイコンが下にフェードインしてくれるcssコード
@keyframes tooltipShow {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

table {
  position: fixed;
  bottom: 30px;
  right: 41%;
  text-align: center;
  .search {
    text-align: center;
  }
}

#search {
  height: 1.2rem;
  opacity: 0.7;
  border-radius: 10px;

  &:focus {
    opacity: 1;
  }
}

body.black {
  background-color: $bcolor;
  .logo img{
    color: $bcolor;
    filter: invert(20%);
    &:hover {
      filter: invert(2%);
    }
  }

  // 時間によってスタイルが変わるコード(Black style for 6PM to 6AM and White style for 6AM to 6PM)
  .icon {
    color: $bcolorIcon;
    &:hover {
      color: lighten($bcolorIcon, 50%);
    }
  }
  ul li ul li{
    border-top: 1px solid $bcolorIcon;
  }
}

body.white {
  background-color: $wcolor;
  .logo img{
    color: $wcolor;
    filter: invert(60%);
    &:hover {
      filter: invert(2%);
    }
  }
  .icon {
    color: $wcolorIcon;
    &:hover {
      color: lighten($wcolorIcon, 50%);
    }
  }
  ul li ul li{
    border-top: 1px solid $wcolorIcon;
  }
}