body {
  font-family: 'Hiragino Kaku Gothic ProN W3', sans-serif;
  margin: 0;
}

.box {
  width: 200px;
  height: 200px;
  background: red;
  transition: 2s;
  &:hover {
    margin-left: 300px;
  }
}

li {
  list-style: none;
  display: inline;
}

a {
  text-decoration: none;
}

/* ここからcssコード */
body {
  background-color: #101010;
}

.logo {
  transition-timing-function: ease;
  transition: 1s;
  transition-delay: 1.5s;
  width: 400px;
  margin: 18% auto 40px auto;
}

.logo-start {
  margin-top: 22%;
}

img {
  width: 400px;
  opacity: 0.8;
  display: block;
  &:hover {
    opacity: 1;
  }
}

nav {
  display: inline;
  .icons {
    padding: 0;
    margin: 0;
    margin-left: calc(50% - (540px / 2));
    &:after {
      display: block;
      content: "";
      clear: both;
    }
    li {
      position: relative;
      float: left;
      margin: 0 15px;
      text-align: center;
      width: 37.5px;
      &:hover ul {
        animation: tooltipShow 0.3s linear 0s;
        opacity: 1;
        display: block;
      }
      .icon {
        font-size: 30px;
        color: rgb(184, 184, 184);
        background-color: #101010;
        &:hover {
          color: white;
        }
      }
      ul {
        display: none;
        padding: 0;
        position: absolute;
        z-index: -100;
        opacity: 0;
        transition: 1s;
        li {
          margin: 0;
          .icon {
            padding: 10px 0px;
            border-top: 1px solid gray;
            i {
              padding-bottom: 10px;
            }
          }
        }
      }
    }
  }
}

@keyframes tooltipShow {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

table {
  position: fixed;
  bottom: 30px;
  right: 41%;
  text-align: center;
  .search {
    text-align: center;
  }
}

#search {
  height: 1.2rem;
  opacity: 0.7;
  border-radius: 10px;

  &:focus {
    opacity: 1;
    border: #101010;
  }
}