<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div width="200px" height="200px" style="background: #eee">
    <a href="/">box1</a>
  </div>
  <% const item = {id: 4, name: 'トマト'}%>
  <p>
    <span>
      <%= item.id %>
    </span>
    <span>
      <%= item.name %>
    </span>
  </p>
</body>
</html>